:root {
    --fontgrey: rgb(59, 59, 59);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Liberation Mono", "DejaVu Sans Mono", "Liberation Sans";
}

body {
    margin: 0 50px;
}

/* BOX-SIZING */

nav ul {
    min-width: 700px;
}

nav ul li {
    padding: 6px 2px;
}

select {
    padding: 6px 10px;
}

header img {
    padding: 20px;
}

h1, h2 {
    padding: 20px 0;
}

.navbar {
    padding: 30px 0;
}

header > p {
    padding: 20px 0;
    max-width: 480px;
}

header img {
    padding: 20px 0;
    max-width: 347px;
    max-height: 389px;
}

.announce, .copyright {
    max-width: 500px;
}

.announce-container, .copyright-container {
    padding-bottom: 50px;
}

/* FLEX */

.navbar {
    margin: auto 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dualsection {
    display: flex;
    justify-content: space-around;
}

/* TEXT */

h1, h2, p, button, li {
    color: var(--fontgrey);
}

nav ul li a:hover, nav ul li:hover, .start:hover {
    background-color: var(--fontgrey);
    color: white;
}
 
nav ul li {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5px;
}

select {
    font-size: 18px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.start {
    font-size: 16px;
}

button {
    font-weight: bold;
}

section > h2 {
    text-align: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* BUTTONS, LINKS */

button  {
    display: block;
    border: 2px solid var(--fontgrey);
    outline: none;
    box-shadow: -3px 4px #666;
    padding: 10px;
    min-width: 200px;
}

.logo a {
    text-decoration: none;
    color: var(--fontgrey);
}

/* IMAGES */

nav ul img  {
    padding: 4px;
}

.asearch {
    padding: 2px 5px;
    border-radius: 3px;
}

.asearch:hover {
    background-color: var(--fontgrey);
}

.mglass {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.announce-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconphone {
    min-width: 60px;
    min-height: 60px;
    max-width: 80px;
    max-width: 80px;
    padding: 0 20px;
}

.iconcc {
    padding: 0 20px;
}

/* BOX STYLING */

select {
    /* -webkit-border-radius: 4px 0px;  */
    border-radius: 4px;
    background-color: white;
}