:root {
    --fontgrey: rgb(59, 59, 59);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Liberation Sans";
}

body {
    margin: 0 50px;
}

/* BOX-SIZING */

nav ul {
    min-width: 700px;
}

h1, h2 {
    padding: 20px 0;
}

.navbar {
    padding: 30px 0;
}

header > p {
    padding: 20px 0;
    max-width: 480px;
}

header img {
    padding: 20px 0;
    max-width: 347px;
    max-height: 389px;
}

.announce, .copyright {
    min-width: 500px;
}

/* FLEX */

.navbar {
    margin: auto 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header img {
    padding: 20px;
}

.dualsection {
    display: flex;
    justify-content: space-around;
}


/* TEXT */

h1, h2, p, button, li {
    color: var(--fontgrey);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

button {
    font-weight: bold;
}

section > h2 {
    text-align: center;
}

.navbar {
    font-weight: bold;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* BUTTONS, LINKS */

button  {
    display: block;
    border: 2px solid var(--fontgrey);
    outline: none;
    box-shadow: -3px 4px #666;
    padding: 10px;
    min-width: 200px;
}

a {
    text-decoration: none;
    color: var(--fontgrey);
}

/* IMAGES */

/* img {
    
} */